*,
*::before,
*::after {
  box-sizing: border-box;
  list-style: none;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  object-fit: cover;
}
a {
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
button {
  cursor: pointer;
  padding: 0;
  margin: 0;
  font-family: inherit;
  display: block;
}
address {
  font-style: normal;
}

.container {
  max-width: 1150px;
  padding: 0 20px;
  margin: 0 auto;
  background-color: #fff;
}
/* #region header */
.header {
  background-color: #fff;
}
img {
  padding: 0;
  margin: 0;
}
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}
.header .container {
  display: flex;
  align-items: center; /* Вирівнює всі елементи по вертикалі */
  justify-content: space-between; /* Розподіляє простір між елементами */
}

.header-nav {
  display: flex;

  align-items: center;
}
.header-nav-link {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  margin: 0;
  padding: 26px 0;
  align-items: center;
  margin-right: 237px;
  gap: 16px;
}
.header-nav-list {
  display: flex;

  gap: 30px; /* Відстань між пунктами меню */

  align-items: center; /* Вирівнює всі елементи по вертикалі */
}
.header-nav-list-item {
  display: block;
  align-items: center; /* Вирівнює всі елементи по вертикалі */
}
.header-nav-list-item-link {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
  padding: 26px 0;
}
.header-nav-list-item-link {
  display: block;
}
.active {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.header-list-btm {
  display: flex;
  margin: 0;
  padding: 26px 0;
  margin-left: 73px;
  margin-right: 3px;
  gap: 21px;
  /* margin-left: auto; Вирівнює список по правому краю */
}

.header-list-btm-item {
  display: flex;
  align-items: center; /* Вирівнює всі елементи по вертикалі */
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.header-list-button {
  border: 1px solid #bcd0e5;
  border-radius: 4px;
  width: 105px;
  height: 42px;
  background-color: #fff;
  color: #173a56;
}
.header-list-button-two {
  color: #fff;
  border-radius: 4px;
  width: 113px;
  height: 42px;
  background-color: #02897a;
  border: none;
}
/* #endregion header */

/* #region work */

.work {
  padding-top: 25px;
  padding-bottom: 100px;
}
.work .container {
  display: flex;
  justify-content: space-between;
}
.work-titel {
  max-width: 400px;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
  margin-right: 48px;
  margin-top: 112px;
  margin-bottom: 18px;
}
.work-text {
  max-width: 500px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #22343d;
  margin-right: 35px;

  margin-bottom: 45px;
}
.work-list {
  display: flex;
  align-items: center; /* Вирівнює всі елементи по вертикалі */
  gap: 30px;
  margin: 0;
}
.work-list-item {
}
.work-list-item-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 178px;
  height: 53px;
  background-color: #02897a;
  border: none;
}
.work-list-item-button-two {
  font-weight: 600;
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #02897a;
  width: 164px;
  height: 23px;
  border: none;

  text-decoration: underline;
  text-decoration-skip-ink: none;
  background-color: #fff;
  display: flex;

  gap: 9px;
}
.work-lis-icon {
  fill: #02897a;
}

/* #endregion work */

/* #region product */
.product {
  padding-top: 0;
  padding-bottom: 50px;
}

.product .container {
  display: block;
}
.product-titel {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
  max-width: 500px;
  margin: 0 auto;
}
.product-list {
  display: flex;
  gap: 30px; /* Відстань між колонками */
  margin-bottom: 50px;
  justify-content: center; /* Центруємо список по горизонталі */
  flex-wrap: wrap; /* Дозволяємо елементам переноситись на новий рядок */
  text-align: center;
}
.product-list-item {
  width: calc((100% - 3 * 30px) / 4); /* Рахуємо ширину кожної колонки */
}
.div-icon {
  display: flex;
  border-radius: 19px;
  width: 54px;
  height: 54px;
  background: #02897a;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.product-icon {
  fill: #fff;
}

.product-list-item-subtitle {
  font-weight: 600;
  font-size: 22px;
  color: #22343d;
  margin-top: 50px;
  margin-bottom: 13px;
  text-align: left; /* Вирівнюємо заголовок по лівому краю */
}
.product-list-item-text {
  text-align: left; /* Вирівнюємо заголовок по лівому краю */
}
.product-button {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  border-radius: 4px;
  width: 175px;
  height: 53px;
  align-self: center; /* Центруємо кнопку */
  background: #02897a;
  border: none;
  margin: 0 auto;
}
/* #endregion product */

/* #region management */
.management {
  padding-top: 0;
  padding-bottom: 100px;
}

.management .container {
  display: flex;
  justify-content: space-between;
}

.management-first {
  display: flex;
  flex-direction: column; /* Встановлюємо напрямок стовпчиком */
  max-width: 486px;
}
.managment-titel {
  display: flex;
  flex-wrap: wrap;
  max-width: 250px;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
}
.managment-titel-span {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
.management-text {
  margin-bottom: 30px;
}
.management-list {
}
.management-list-item {
}
.management-list-item-subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}
.management-list-item-text {
  margin-bottom: 25px;
}
/* #endregion management */

/* #region customer */
.customer {
  padding-top: 0;
  padding-bottom: 100px;
}
.customer .container {
  display: flex;
  justify-content: space-between;
}
.customer-all {
}
.customer-first {
  display: flex;
  flex-direction: column; /* Встановлюємо напрямок стовпчиком */
  max-width: 437px;
}
.customer-first-titel {
  max-width: 304px;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
}
.customer-first-titel-span {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}

.customer-first-text {
  margin-bottom: 30px;
}
.customer-first-list {
  display: flex;
  flex-direction: column; /* Встановлюємо напрямок стовпчиком */
  gap: 25px;
}
.customer-first-list-item {
  display: flex;
}

.div-customer-first-icon {
  display: flex;
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  background: #f90;
  justify-content: center;
  align-items: center;
  fill: #fff;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-right: 30px;
  flex-shrink: 0;
}

.customer-first-icon {
  fill: #fff;
}
.blue {
  background: #4d8dff;
}
.pink {
  background: #740a76;
}

.red {
  background: #f03e3d;
}

/* #endregion customer */

/* #region collaboration */
.collaboration {
  padding-top: 0;
  padding-bottom: 150px;
}

.collaboration .container {
  display: flex;
  justify-content: space-between;
}

.collaboration-firsr {
  display: flex;
  flex-direction: column; /* Встановлюємо напрямок стовпчиком */
  max-width: 486px;
}
.collaboration-titel {
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  max-width: 304px;
  margin-bottom: 25px;
}
.collaboration-titel-spon {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}
.collaboration-text {
  margin-bottom: 30px;
}
.collaboration-list {
  display: flex;
  flex-direction: column; /* Встановлюємо напрямок стовпчиком */
  gap: 25px;
}
.collaboration-list-titel {
}
.collaboration-list-titel-subtitel {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 12px;
}
.collaboration-list-titel-text {
}
/* #endregion scollaboration */

/* #region process */

.process {
  padding-top: 0;
  padding-bottom: 100px;
}
.container-strategy {
  max-width: 916px;
}

.process .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 102px;
  padding-right: 102px;
}

.process-all-first {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.process-titel {
  display: flex;

  max-width: 542px;
  font-weight: 700;
  font-size: 32px;
  color: #22343d;
  margin-bottom: 25px;
  align-items: center;
}
.process-text {
  display: flex;

  max-width: 542px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  color: #22343d;
  margin-bottom: 40px;
}
.process-all-second {
}
.process-all-second-list {
  display: flex;

  grid-gap: 20px 100px; /* Вертикальний відступ 20px, горизонтальний 50px */

  margin-bottom: 50px;
  flex-wrap: wrap; /* Дозволяємо елементам переноситись на новий рядок */
}
.process-all-second-list-titel {
  display: flex;
  width: calc((100% - 100px) / 2);
  gap: 25px;
  justify-content: center;
}
.process-all-second-list-titel-text {
  display: flex;
  align-items: center; /* вертикальне центровання */
  justify-content: center; /* горизонтальне центровання */
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;

  fill: #fff;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);
  border-radius: 50px;
  width: 281px;
  height: 50px;
}
.process-all-button {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #02897a;
  border-radius: 4px;
  width: 216px;
  height: 53px;
  border: none;
}
.process-all-button:hover,
.process-all-button:focus {
  border-bottom: 1px solid black;
}

/* #endregion process */

/* #region srtategy */
.strategy {
  margin-top: 0;
  margin-bottom: 170px;
}

.strategy-all {
  display: block;
}
.strategy-titel {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 10px;
}
.strategy-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  color: #22343d;
  margin-bottom: 40px;

  max-width: 465px;
}
.strategy-first {
}
.strategy-first-list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.strategy-first-list-titel {
  width: calc((100% - 60px) / 3);
  border: 1px solid #dedede;
  border-radius: 8px;
}
.strategy-first-list-titel img {
  border-top-left-radius: 8px; /* Округлення верхніх кутів */
  border-top-right-radius: 8px;
  object-fit: cover; /* Щоб зображення не деформувалося */
  display: block; /* Уникнення зайвих відступів */
}
.strategy-first-list-titel-text {
  margin-top: 24px;
  margin-bottom: 12px;
  margin-left: 12px;
}
.strategy-first-list-titel-text-span {
  font-weight: bold;
}
.strategy-first-list-titel-subtitel {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  max-width: 296px;
  margin-left: 12px;
  margin-bottom: 40px;
}
.strategy-first-list li:nth-child(2) .strategy-first-list-titel-subtitel {
  color: #02897a;
}
/* #endregion srtategy */

/* #region offer */

.offer {
  padding-top: 0;
  padding-bottom: 100px;
}

.offer-all {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центруємо елементи по горизонталі */
  text-align: center; /* Центруємо текст */
}
.offer-first {
}
.offer-titel {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  margin-bottom: 8px;
}
.offer-text {
  font-weight: 500;
  font-size: 16px;
  color: #22343d;
  margin-bottom: 40px;
}
.offer-second {
  display: flex;
  flex-direction: row;
  gap: 72px;
}
.offer-all-list {
  width: calc((100% - (72 * 2px)) / 3);
  border: 1px solid #dedede;
  border: none;
  border-radius: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;
}
.offer-all-list-titel {
}
.offer-all-list-titel-subtitel {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
  margin-top: 32px;
  margin-bottom: 8px;
}
.offer-all-list-titel-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
  margin-bottom: 16px;
  margin-left: 72px;
  margin-right: 72px;
}
.offer-all-list-titel-titel {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 76px;
  line-height: 1.31579;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
}
.offer-all-list-titel-text-next {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
}
.offer-all-list-titel-text-second {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.01em;
  color: #afafaf;
}
.offer-all-list-titel-list {
}
.offer-all-list-titel-list-titel {
  margin-bottom: 16px;
}
.offer-all-list-titel-list :nth-child(3) {
  margin-bottom: 0;
}
.offer-all-list-titel-list-text {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.375;
  letter-spacing: 0.01em;
  color: #22343d;
}
.offer-all-list-titel-div {
  display: flex;
  margin-bottom: 32px;
  align-items: center; /* вертикальне центровання */
  justify-content: center;
}
.green {
  background: #02897a;
  color: #fff;
}
.grey {
  color: #e0e0e0;
}
.offer-all-list-titel-div-div {
  text-align: left;
}

.offer-all-list-titel-button {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  width: 139px;
  height: 44px;
  background: #02897a;
  border: none;

  margin: 30px auto 32px auto;
}
.width {
  color: #02897a;
  background: #fff;
}

/* #endregion offer */

/* #region clients */

.clients {
  margin-bottom: 100px;
}
.clients-all {
  display: block;
}
.clients-all-titel {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.clients-all-titel-titel {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.78125;
  letter-spacing: 0.01em;
  color: #22343d;
  margin-bottom: 10px;
}
.clients-all-titel-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
  max-width: 540px;

  align-self: center;
  margin-bottom: 40px;
}

.clients-all-first {
}
.clients-all-titel-list {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
.clients-all-titel-list-titel {
  width: calc((100% - (64 * 2px)) / 3);
  border: 1px solid #dedede;
  border-radius: 5px;
}
.clients-all-titel-list-titel-text {
  margin: 16px 26px 16px 26px;
}
.clients-div {
}
.clients-div-list {
  display: flex;
  margin-left: 28px;
  margin-top: 28px;
}
.clients-div-list-item {
  gap: 4px;
}
.clients-div-list-item-icon {
  fill: #f3cd03;
}
.clients-all-titel-list-list {
  display: flex;
  margin-left: 26px;
  margin-bottom: 28px;
}
.clients-last {
  display: block;
}
.clients-all-titel-list-list-titel {
}
.clients-all-titel-list-list-titel-subtitel {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
  margin-left: 14px;
}
.clients-all-titel-list-list-titel-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.01em;
  color: #252b42;
  margin-left: 14px;
}

/* #endregion clients */

/* #region compannies */
.compannies {
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}

.companies-all {
  display: flex;

  justify-content: space-between;
  border-radius: 32px;
  background: #02897a;
  border: none;
  width: 968px;
  height: 345px;
  box-sizing: border-box;
}
.companies-all-titel {
  display: block;
  margin-top: 49px;
  margin-left: 51px;
}
.companies-all-titel-titel {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 32px;
  line-height: 1.514;
  color: #fff;
  margin-bottom: 46px;
  margin-right: 60px;
  max-width: 450px;
}
.companies-all-button {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  background: #fff;
  border-radius: 8px;
  border: none;
  padding: 10px 34px;
}
.button-customers {
  color: #22343d;
}
.companies-all-img {
  margin-top: 4px;
  margin-bottom: 10px;
  margin-right: 46px;
}

/* #endregion compannies */

/* #region footer */
.footer {
  margin-bottom: 40px;
}

.footer-all {
  display: flex;
  justify-content: space-between;
}
.div-footer-social-links {
  display: flex;
  flex-direction: column;
}
.footer-logo-link {
  display: flex;

  margin-right: 146px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}
.footer-social-links {
  display: flex;
  gap: 16px;
}
.footer-social-links-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 2px solid #edfffc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
  fill: #edfffc;
}

.footer-social-links-item-icon {
  stroke: #02897a;
}
.footer-link {
  display: flex;
  padding-right: 16px;
}
.footer-link-item-first {
  margin-right: 129px;
}

.footer-link-item-first-subtitel {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  padding-bottom: 8px;
}
.footer-link-item-first-link {
}
.footer-link-item-first-link-item {
  padding-bottom: 8px;
}
.footer-link-item {
  color: #22343d;
}
.footer-link-item-second {
  margin-right: 83px;
}
.footer-link-item-second-subtitel {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  padding-bottom: 8px;
}
.footer-link-item-second-link {
}
.footer-link-item-second-link-item {
  padding-bottom: 8px;
}
.footer-link-item-second-item {
}
.footer-link-item-last {
}
.footer-link-item-last-subtitel {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
  max-width: 280px;
  margin-bottom: 30px;
}
.footer-link-item-last-link {
}
.footer-link-item-last-link-item {
}
.footer-button {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  border: 1px solid #bcd0e5;
  margin-bottom: 35px;
  border: 1px solid #bcd0e5;
  border-radius: 4px;

  outline: transparent;
  background-color: transparent;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 325px;
  height: 48px;
}
.footer-button::placeholder {
  color: #02897a;
}
.input-icon {
  position: relative;
}

.footer-button-icon {
  fill: #02897a;
  position: absolute;
  left: 12px;
  top: 24px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-next {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #fff;
  border-radius: 4px;
  width: 131px;
  height: 39px;
  box-sizing: border-box;
  background: #02897a;
  margin-bottom: 16px;
  border: none;
}
.footer-text {
  text-align: center;
}
.footer-button:focus,
.footer-button:hover,
.footer-button-next:focus,
.footer-button-next:hover {
  border-bottom: 1px solid black;
}
/* #endregion footer */
.offer-titel-text {
  display: block;
  font: 500 16px "Poppins", sans-serif;
  text-align: center;
  color: #22343d;
  margin-bottom: 32px;
}
.prising-offer {
  padding-top: 0;
  padding-bottom: 150px;
}
.prising-offer-titel {
  margin-bottom: 16px;
}
.prising-text {
  margin-bottom: 49px;
}
.enterprise {
  padding-bottom: 294px;
}
.enterprise .container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центруємо елементи по горизонталі */
  text-align: center;
}

.enterprise-titel {
  font: 700 34px "Poppins", sans-serif;
  color: #22343d;
  margin-bottom: 8px;
}
.enterprise-span {
  display: block;
  font: 600 24px "Poppins", sans-serif;
  color: #22343d;
  margin-top: 53px;
  margin-bottom: 16px;
}
.enterprise-text {
  margin-bottom: 32px;
  font: 400 18px "Poppins", sans-serif;
  color: #22343d;
}
.button-enterprise {
  background: #02897a;
  border-radius: 8px;
  width: 224px;
  height: 44px;
  font: 600 18px "Montserrat", sans-serif;
  color: #fff;
}
.effects {
  padding-bottom: 6px;
}
.effects-titel {
  font: 700 34px "Poppins", sans-serif;
  color: #22343d;
  text-align: center;
  margin-bottom: 47px;
}
.effects-div {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.effects-div-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.effects-div-icon-text {
  display: flex;
  gap: 14px;
  justify-content: start;
  align-items: center;
  margin-bottom: 23px;
}
.effects-div-icon {
  display: flex;
  border-radius: 50px;
  width: 50px;
  height: 50px;

  align-items: center;
  text-align: center;
  background: #f4f5f7;
}
.effects-svg-icon {
  fill: #02897a;
  margin: 0 auto;
}

.effects-div-list-titel {
}
.effects-div-list-titel-subtitel {
  font: 600 24px "Poppins", sans-serif;
  text-align: center;
  color: #22343d;
  text-align: start;
  margin-left: 14px;
}
.effects-div-list-titel-text {
  font: 400 16px / 1.75 "Poppins", sans-serif;
  color: #22343d;
}
.asked {
}
.asked .container {
  padding-bottom: 150px;
  max-width: 920px;
  height: auto;
}
.asked-titel {
  font: 700 34px "Poppins", sans-serif;
  color: #22343d;
  margin-top: 6px;
  text-align: center;
  margin-bottom: 8px;
}
.asked-text {
  font: 400 18px "Poppins", sans-serif;
  color: #22343d;
  text-align: center;
  margin-bottom: 50px;
}
.icon-minus {
  display: none;
}

details[open] .icon-plus {
  display: none;
}

details[open] .icon-minus {
  display: inline;
}

.asked-titel-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.asked-titel-list-li {
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
}

.asked-titel-list-subtitel {
  font: 500 18px "Poppins", sans-serif;
  color: #22343d;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: start;
  margin-left: 16px;
  fill: #02897a;
  margin-bottom: 14px;
}

.asked-titel-list-text {
  font: 400 16px "Poppins", sans-serif;
  color: #22343d;
}
.asked-btm {
  display: block;
  border: 1px solid #bcd0e5;

  width: 24px;
  height: 24px;
  background-color: #02897a;
  border-radius: 50px;
  flex-shrink: 0;
}

.active {
  color: #22343d;
  position: relative;
}
.active::after {
  content: "";
  border-radius: 2px;
  left: 0;
  bottom: 20px;
  width: 48px;
  height: 4px;
  position: absolute;
  background: #404bbf;
}

.active {
  color: #22343d;
  position: relative;
}
.active::after {
  content: "";
  border-radius: 2px;
  left: 0;
  bottom: 20px;
  width: 100%;
  height: 4px;
  position: absolute;
  background: #404bbf;
}
.client {
  padding-top: 100px;
  padding-bottom: 117px;
}
.client-titel {
  font: 700 40px "Poppins", sans-serif;
  color: #22343d;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  gap: 64px;
  justify-content: center;
  align-items: center;
}
.clients-list-item {
  flex-basis: calc((100% - 3 * 64px) / 4);
}
.customer-product .container {
  background: #f5f5f5;
  padding-bottom: 50px;
}
.customer-product-titel {
  font: 700 34px "Poppins", sans-serif;

  color: #22343d;
  display: flex;
  margin-top: 24px;

  justify-content: center;
  align-items: center;
}
.customer-product-list {
  display: flex;
  gap: 30px;
}
.customer-product-list-item {
  flex-basis: calc((100% - 2 * 30px) / 3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.customer-product-list-item-subtitel {
  font: 700 24px / 1.375 "Poppins", sans-serif;
  letter-spacing: 0em;
  text-align: center;
  color: #22343d;

  margin-top: 32px;
  margin-bottom: 16px;
}
.customer-product-list-item-text {
  font: 400 16px / 1.6875 "Poppins", sans-serif;
  letter-spacing: 0.01em;

  color: #22343d;
  max-width: 270px;
  margin: 0 auto;
  text-align: center;
}
.customer-work {
  padding-top: 100px;
  padding-bottom: 130px;
}
.container {
}
.customer-work-list {
}
.customer-work-titel {
  font: 700 34px "Poppins", sans-serif;
  text-align: center;
  color: #22343d;
  margin-bottom: 72px;
}
.customer-work-list-item {
  display: flex;

  flex-wrap: nowrap;

  gap: 89px;

  flex-direction: row-reverse;
  justify-content: center;
  margin-bottom: 100px;
}
.item-row {
  flex-direction: row;
}
.work-list-item-m {
  margin-bottom: 78px;
}
.customer-work-list-item-div {
  display: flex;
  flex-direction: column;
}
.customer-first-list-item-subtitel {
  font: 600 24px "Poppins", sans-serif;
  text-align: start;
  color: #22343d;
  margin-bottom: 16px;
}
.customer-first-list-item-subtitel-span {
  display: block;
  font: 500 20px "Poppins", sans-serif;
  justify-content: start;
  color: #22343d;
  margin-bottom: 16px;
}
.customer-first-list-item-text {
  font: 400 16px / 1.75 "Poppins", sans-serif;
  color: #22343d;
  max-width: 440px;
}
.customer-work-btm {
  border-radius: 8px;
  width: 224px;
  height: 44px;
  background: #02897a;

  font: 600 18px "Montserrat", sans-serif;
  color: #fff;

  border: none;
  margin: 0 auto;
}

.customer-offer {
  padding-bottom: 136px;
}
.customer-offer .container {
  background: linear-gradient(180deg, #f5f5f5 0%, rgba(245, 245, 245, 0) 100%);
}
.customer-offer-titel {
  font: 700 32px "Poppins", sans-serif;
  text-align: center;
  color: #22343d;
  max-width: 540px;

  margin-top: 21px;
  margin-bottom: 93px;
  margin-right: auto;
  margin-left: auto;
}
.customer-offer-list {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 200px;
  padding-left: 200px;
  padding-right: 200px;
}
.customer-offer-list-item {
  width: calc((100% - 200px) / 2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-offer-icon-div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 30px 20px;
  width: 150px;
  height: 150px;
  background: #ffefef;
  margin-bottom: 27px;
}

.customer-offer-icon {
}

.customer-offer-list-item-subtitel {
  display: block;
  font: 500 24px / 1.16667 "Poppins", sans-serif;
  color: #000;
  text-align: center;
  margin-bottom: 16px;
}
.customer-offer-list-item-list {
  display: flex;
  flex-direction: column;
}
.customer-offer-list-item-list-item {
  display: block;
  text-align: center;
  font: 400 18px / 1.77778 "Poppins", sans-serif;
  text-align: center;
  color: #22343d;
}
.customer-text-text {
  font: 500 16px / 1.75 "Poppins", sans-serif;
  color: #000;
}

.header-list-icon {
  display: flex;
  border-radius: 100px;
  width: 32px;
  height: 32px;
  background: #f3f3f3;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.header-list-icon-frame {
  fill: #02897a;
}
.great-business .container {
  display: flex;
  justify-content: space-between;
}

.great-business {
  padding-top: 76px;
  padding-bottom: 66px;
}
.great-business-titel {
  font-weight: 600;
  font-size: 40px;

  line-height: 1.49;
  letter-spacing: -0.03em;
  color: #22343d;
  max-width: 380px;
  margin-bottom: 24px;
}
.great-business-text {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;

  /* line-height: 32px; */
  line-height: 1.6;
  letter-spacing: -0.03em;
  color: #22343d;
  max-width: 535px;
  margin-bottom: 24px;
}

.great-business-form {
  position: relative;
  display: flex;

  max-width: 469px;
  height: 66px;
}
.form-label {
}
.form-input {
  border: 1px solid #eaeaea;
  border-radius: 100px;
  width: 469px;
  height: 66px;
  margin-bottom: 24px;

  /* display: inline-block; */
}
.great-business-btm {
  font-weight: 600;
  font-size: 16px;

  /* line-height: 0px; */
  line-height: 0;
  color: #fff;
  border-radius: 100px;

  width: 117px;
  height: 50px;
  background: #02897a;
  border: none;
  position: absolute;

  right: 8px;
  top: 50%;
  transform: translateY(-50%);
}
.form-input::placeholder {
  padding-left: 27px;
}

.great-business-two img {
  width: 100%; /* Або фіксована ширина */
  height: auto;
  object-fit: contain;
}

.great-business-img {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 9px;
}
.great-business-list {
  display: flex;

  /* position: relative;
  width: 125px; Фіксована ширина для демонстрації */
}
.great-business-item {
  position: relative;
}
.great-business-item:nth-child(1) {
  margin-left: 0px;
}
.great-business-item:nth-child(2) {
  margin-left: -30px;
}
.great-business-item:nth-child(3) {
  margin-left: -20px;
}
.great-business-span {
  font-weight: 500;
  color: #02897a;
}

.stories {
}
.container {
}
.stories-titel {
  font-weight: 700;
  font-size: 34px;
  color: #22343d;
  text-align: center;
  margin-bottom: 8px;
}
.stories-text {
  font-weight: 500;
  font-size: 16px;

  line-height: 1.625;
  color: #22343d;
  text-align: center;
  margin-bottom: 32px;
}
.stories-list {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
.stories-list-item {
  width: calc((100% - 96px) / 3);
  border-radius: 8px;
  border: 1px solid #dedede;
  width: 348px;
  height: 359px;
  background: #fff;
}
.stories-list-item-foto {
  background: #f5f7ff;
  margin-bottom: 22px;
}
.stories-list-item-text-span {
  font-weight: 700;
}
.stories-list-item-text {
  margin-bottom: 12px;
  margin-left: 24px;
}
.stories-list-item-subtitel {
  max-width: 294px;
  font-weight: 700;
  font-size: 24px;

  line-height: 1.67;
  color: #22343d;
  margin-bottom: 40px;
  margin-left: 24px;
}
